In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("/Users/suvarthi/Library/CloudStorage/OneDrive-IndianInstituteofTechnologyGuwahati/PhD/BTP 2024/Adarsh-Sweeya/Sem 8/Netflix/adarsh_sweeya_netflix_2_sem8.csv")

In [2]:
PLAYS = []
NUM_PLAY = []

In [3]:
df1 = df['dataid'].value_counts()

In [4]:
df2 = pd.DataFrame(df1).reset_index()

In [5]:
df2.rename(columns = {'index':'dataid','dataid':'access'}, inplace = True)

In [60]:
num_plays = 10
NUM_PLAY.append(num_plays)

In [61]:
df2 = df2.head(num_plays)

In [62]:
PLAYS.append(sum(df2['access'])*100/len(df))

In [63]:
PLAYS

[36.318171541076495,
 33.88053310710362,
 31.23370555856795,
 28.41050287422442,
 25.435735623375557,
 22.281091745083405,
 18.921360499572817,
 15.248095688763414,
 11.07521804288627,
 6.181633375818098]

In [64]:
NUM_PLAY

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [65]:
file = f'netflix_viral_{num_plays}_set_2.csv'
df2.to_csv(file,index = False)

In [66]:
PLAYS = pd.DataFrame(PLAYS).reset_index()

In [80]:
PLAYS

   data size     access
0         10  36.318172
1         20  33.880533
2         30  31.233706
3         40  28.410503
4         50  25.435736
5         60  22.281092
6         70  18.921360
7         80  15.248096
8         90  11.075218
9        100   6.181633

In [68]:
for i in range(0,len(PLAYS)):
    PLAYS.iloc[i,0] = PLAYS.iloc[i,0]*10 + 10

In [77]:
PLAYS.rename(columns = {'index':'data size',0:'access'}, inplace = True)

In [81]:
PLAYS.to_csv('set_2_plays',index = False)